@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container" style="height:85vh">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 style="background-color:blue; border-radius:25px;color:white;text-align:center;"><i> Frusin/kirill.frusin@gmail.com/(907) 317-9475</i></h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
        <h1 style="text-align:center">Modernize your Hookah!</h1>
    </div>
  </div>
</div>