@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


  <div class="row" style="width:100%;">
    <div class="col-10">
      <h2 style="text-align:center;"><i> Frusin/kirill.frusin@gmail.com/(907) 317-9475</i></h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
        <h1 style="text-align:center">Modernize your Hookah!</h1>
    </div>
  </div>
 <div class="row">
   <div class="col-md-12 fade" style="height:70vh;width:100%;background-color:#3F3C3C;margin-left:10px;">
     <h1 style="color:white"><i><u>Mission Statement</u></i></h1>
   </div>
   <div class="col-md-12 fade" style="height:70vh;width:100%;background-color:#4E5BB8;margin-left:10px;align-content:right;">
     <h1 class="float-right" style="color:white"><i><u>Coil Features</u></i></h1>
   </div>
 </div>
